# General
*.DS_Store

# docker-compose openwhisk directories ignore
openwhisk-master
openwhisk-master*
openwhisk-catalog
compose/*.tar.gz

# cli
bin/

*.iml
.idea
.vscode
**/.sts4-cache

# Node
node_modules/

# Backend
.gradle
.env
backend/logs
backend/project/project
backend/project/target
backend/target
backend/tmp
backend/.history
backend/dist
*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.db