# General
*.DS_Store

# docker-compose openwhisk directories ignore
openwhisk-master
openwhisk-master*
openwhisk-catalog
compose/*.tar.gz

# cli
bin/

*.iml
.idea
.vscode
**/.sts4-cache

# Node
node_modules/

# Backend
.gradle
.env
frontend/logs
frontend/project/project
frontend/project/target
frontend/target
frontend/tmp
frontend/.history
frontend/dist
*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.db